<div class="modal fade" id="holiday" tabindex="-1" role="dialog" aria-labelledby="holidayDescription"
     th:fragment="copy">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F5F8FF">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="holidayDescription">{{holiday.description}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5">
                        <h5>Observed Date</h5>
                        <span>{{holiday.observedDateFull}}</span>
                    </div>
                    <div class="col-xs-5">
                        <h5>Official Date</h5>
                        <span>{{holiday.officialDateFull}}</span>
                    </div>
                    <div class="col-xs-2">
                        <h5>Type</h5>
                        <ul class="type-list">
                            <li data-ng-repeat="t in holiday.types">{{t.description}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer borderless">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">OK</span></button>
            </div>
        </div>
    </div>
</div>