<div class="modal fade" id="holiday" tabindex="-1" role="dialog" aria-labelledby="holidayDescription" th:fragment="copy">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="holidayDescription">{{holiday.description}}</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Observed Date</h4>
                        <span>{{holiday.observedDateFull}}</span>
                    </div>
                    <div class="col-md-4">
                        <h4>Official Date</h4>
                        <span>{{holiday.officialDateFull}}</span>
                    </div>
                    <div class="col-md-4">
                        <h4>Type</h4>
                        <span data-ng-repeat="t in holiday.types">{{t.description}}{{$last ? '' : ', '}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>